@import 'src/scss/main.scss';

%star-rating-base {
    @include inline-flex();
    svg {
        fill: $border;
        &.isActive {
            fill: $blue;
        }
    }
}

.rating13 {
    @extend %star-rating-base;
    svg {
        width: 13px;
        height: 13px;
    }
}

.rating16 {
    @extend %star-rating-base;
    svg {
        width: 16px;
        height: 16px;
    }
}

.rating20 {
    @extend %star-rating-base;
    svg {
        width: 20px;
        height: 20px;
    }
}

.rating24 {
    @extend %star-rating-base;
    svg {
        width: 24px;
        height: 24px;
    }
}
