%btn-base {
    @include inline-flex();
    padding: 0 8px;
    border-radius: 4px;
    font-weight: 700;
    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.btn-55 {
    @include text-style(18);
    height: 55px;
}

.btn-48 {
    @include text-style(16);
    height: 48px;
}

.btn-40 {
    @include text-style(18);
    height: 40px;
}

.btn-32 {
    @include text-style(14);
    height: 32px;
}

.btn-primary {
    @extend %btn-base;
    background-color: $blue;
    color: $white;
    transition: background-color 200ms ease-in-out;
    &:not(:disabled):hover {
        background-color: $blue-dark;
    }
}

.btn-secondary {
    @extend %btn-base;
    background-color: $border;
    color: $primary;
    transition: background-color 200ms ease-in-out;
    &:not(:disabled):hover {
        background-color: $tertiary;
    }
}

.btn-outline {
    @extend %btn-base;
    border: 1px solid $blue;
    background-color: $white;
    color: $blue;
    transition: background-color 200ms ease-in-out;
    &:not(:disabled):hover {
        background-color: $blue-light;
    }
}

.btn-ghost {
    @extend %btn-base;
    background-color: transparent;
    color: $primary;
    transition: color 200ms ease-in-out;
    &:not(:disabled):hover {
        color: $secondary;
    }
}
