%price-base {
    @include inline-flex();
    color: $dark;
    line-height: 1;
    font-weight: 700;
    .price {
        font-family: $font-price;
    }
    .unit {
        font-family: $font-main;
    }
}

.price-16 {
    @extend %price-base;
    .price {
        font-size: 16px;
        letter-spacing: -0.02em;
    }

    .unit {
        @include text-style(14);
    }
}

.price-20 {
    @extend %price-base;
    .price {
        font-size: 20px;
        letter-spacing: -0.02em;
    }

    .unit {
        @include text-style(16);
    }
}

.price-32 {
    @extend %price-base;
    .price {
        font-size: 32px;
        letter-spacing: -0.02em;
    }

    .unit {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.02em;
    }
}

.price-discount {
    @extend %price-base;
    color: $secondary;
    font-weight: normal;
    .price {
        font-size: 14px;
        letter-spacing: -0.01em;
        text-decoration: line-through;
    }

    .unit {
        @include text-style(14);
    }
}
