@import 'src/scss/main.scss';

%pagination-item-base {
    @include inline-flex();
    height: 26px;
    border-radius: 4px;
    background-color: $white;
    cursor: pointer;
}

.paginationGroup {
    @include inline-flex();
}
.items {
    @include inline-flex();

    .item {
        @extend %pagination-item-base;
        @include text-style(16, $primary);
        font-weight: 700;
        min-width: 26px;
        padding: 0 4px;
        margin-right: 4px;

        &:hover {
            color: $blue;
        }
        &:active {
            color: $white;
            background-color: $blue;
        }
    }

    li:last-child .item {
        margin-right: 0;
    }
}

.itemControl {
    @extend %pagination-item-base;
    width: 26px;
    border: 1px solid $border;
    fill: $primary;
    &:hover {
        fill: $border;
    }

    &:first-child {
        margin-right: 24px;
    }

    &:last-child {
        margin-left: 24px;
    }

    .chevronPre {
        transform: rotate(90deg);
        width: 20px;
        height: 20px;
    }

    .chevronNext {
        transform: rotate(-90deg);
        width: 20px;
        height: 20px;
    }
}
