@import 'src/scss/main.scss';

%tag-base {
    @include inline-flex;
    @include text-style(12);
    height: 20px;
    padding: 0 6px;
    border-radius: 4px;
    font-weight: 700;
}

.red {
    @extend %tag-base;
    color: $white;
    background-color: $red;
}
.grey {
    @extend %tag-base;
    color: $secondary;
    background-color: $border;
}
.green {
    @extend %tag-base;
    color: $white;
    background-color: $green;
}
