@import './side-bar-menu';

.sideBar {
    width: 240px;
    padding: 32px 20px;
    background-color: $white;
}

header {
    border-bottom: 1px solid $border;
}

.logo {
    @include flex(start);

    a {
        display: block;
    }

    svg {
        display: block;
        width: auto;
        height: 20px;
        fill: $dark;
    }
}

.avatar,
.auth {
    padding: 0 12px;
    height: 88px;
}

.avatar {
    @include flex(start);

    a {
        @include flex(start);
        width: 100%;
        flex-grow: 1;
    }

    .avatarImg {
        flex-shrink: 0;
    }

    .username {
        @include text-style(14, $primary);
        margin-left: 8px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.auth {
    @include flex(between);
    button {
        width: 84px;
    }
}

.menu {
    border-bottom: 1px solid $border;
}

.newBadge {
    @include flex;
    width: 16px;
    height: 16px;
    fill: $red;
}

.footer {
    padding-top: 16px;
}
