@import './gnb-nav';
@import './gnb-icon-btn';
@import './gnb-my-menu';

.gnb {
    border-bottom: 1px solid $border;
}

.gnbWrapper {
    @include flex(between);
    height: 50px;
    position: relative;
}

.logo {
    @include pos-center();
    fill: $dark;
    svg {
        width: auto;
        height: 20px;
    }
}

.btnList {
    @include flex;

    .btnItem:first-child {
        margin-right: 4px;
    }
}

@include responsive(md) {
    .gnbWrapper {
        height: 80px;
    }

    .gnbLeft {
        @include flex(start);
    }

    .logo {
        position: static;
        margin-right: 32px - ($padding * 2);
        transform: none;

        a {
            padding: $padding;
        }
        svg {
            height: 24px;
        }
    }

    .gnbRight {
        @include flex(end);
    }

    .btnList {
        margin-right: 24px;

        .btnItem {
            margin-right: 8px;

            &:first-child {
                margin-right: 8px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .writingBtn {
        button {
            width: 88px;
            fill: white;
            svg {
                width: 20px;
                height: 20px;
                margin-left: 4px;
            }
        }
    }
}

@include responsive(lg) {
    .searchInput {
        margin-right: 24px;
        input {
            width: 264px;
        }
    }
}
